{% extends 'components/base.twig' %}
{% block content %}

<h3>Context <span class="codespan">{{ clusterName }}</span></h3>

<h4>Namespaces</h4>
<div class="card">
  <ul>
    {% for namespace in namespaces %}
      <li>
        <a href="{{ Routing.namespace(clusterName, namespace.metadata.name) }}">{{ namespace.metadata.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<h4>Persistent Volumes</h4>
<div class="card">
  <ul>
    {% for pv in pvs %}
      <li>
        <a href="{{ Routing.persistentVolume(clusterName, pv.metadata.name) }}">{{ pv.metadata.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
