{% extends 'components/base.twig' %}
{% block content %}

<h3>Namespace <span class="codespan">{{ nsName }}</span></h3>


<h4>Deployments</h4>
<div class="card">
  <ul>
    {% for deployment in deployments %}
      <li>
        <a href="{{ Routing.deployment(clusterName, nsName, deployment.metadata.name) }}">{{ deployment.metadata.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<h4>Pods</h4>
<div class="card">
  <ul>
    {% for pod in pods %}
      <li>
        <a href="{{ Routing.pod(clusterName, nsName, pod.metadata.name) }}">{{ pod.metadata.name }}</a>
        {{ pod.status.phase }}
      </li>
    {% endfor %}
  </ul>
</div>

<h4>Services</h4>
<div class="card">
  <ul>
    {% for service in services %}
      <li>
        <a href="{{ Routing.service(clusterName, nsName, service.metadata.name) }}">{{ service.metadata.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<h4>Ingresses</h4>
<div class="card">
  <ul>
    {% for ingress in ingresses %}
      <li>
        <a href="{{ Routing.ingress(clusterName, nsName, ingress.metadata.name) }}">{{ ingress.metadata.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<h4>Persistent Volume Claims</h4>
<div class="card">
  <ul>
    {% for pvc in pvcs %}
      <li>
        <a href="{{ Routing.persistentVolumeClaim(clusterName, nsName, pvc.metadata.name) }}">{{ pvc.metadata.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
