{% extends 'components/base.twig' %}
{% block content %}

<h3>Pod <span class="codespan">{{ pod.metadata.name }}</span></h3>

<ul>
  <li><a href="#metadata">Metadata</a>
  <li><a href="#spec-containers">Spec - containers</a>
  <li><a href="#spec-volumes">Spec - volumes</a>
  <li><a href="#spec-other">Spec - other</a>
  <li><a href="#status">Status</a>
</ul>

<div class="panel">
  Get a prompt inside container<br/>
  <span class="codespan">{{ terminalCmd }}</span>
  <button onclick="copyToClipboard('{{ terminalCmd }}')">Copy</button>
</div>

<div class="panel">
  Display container logs<br/>
  <span class="codespan">{{ logsCmd }}</span>
  <button onclick="copyToClipboard('{{ logsCmd }}')">Copy</button><br/>
  <span class="codespan">{{ logsWithTailCmd }}</span>
  <button onclick="copyToClipboard('{{ logsWithTailCmd }}')">Copy</button><br/>
</div>

<a name="metadata"></a>
<h4>Metadata</h4>
<div class="code">{{ pod.metadata.raw }}</div>

<a name="spec-containers"></a>
<h4>Spec - containers</h4>
<div class="code">{{ pod.spec.containers.raw }}</div>

<a name="spec-volumes"></a>
<h4>Spec - volumes</h4>
<div class="code">{{ pod.spec.volumes.raw }}</div>

<a name="spec-other"></a>
<h4>Spec - other</h4>
<div class="code">{{ pod.spec.raw }}</div>

<a name="status"></a>
<h4>Status</h4>
<div class="code">{{ pod.status.raw }}</div>

{% endblock %}
